/* MODAL! ART SHOW PAGE! */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0.4);
  -webkit-animaton-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-content {
  /* width: 86%; */
  height: 400px;
  position: relative;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;,
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  overflow: scroll;

}

#art-image {
  display: inline-block;
  float: left;
  height: 100%;
}

#art-image img {
  height: 100%;
}

#art-description {
  padding: 0 35px;
  display: inline-block;
  float: left;
  height: 100%;
  /* width: 300px; */
  background: #fff;
}

#art-description h2 {
  /* display: inline-block; */
  margin: 30px 25px 5px 10px;
  font-size: 37px;
  font-weight: 100;
}

#art-description h4 {
  margin: 0px;
  /* margin-bottom: 70px; */
  margin-left: 10px;
  font-size: 19px;
  color: #1e1e1e;
  font-weight: 100;
}

.tags {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
}

.hashtag {
  display: inline-block;
  height: 100px;
  width: 250px;
}

.hashtag button {
  color: grey;
}

#auction {
  float: left;
  height: 100%;
  /* margin-top: 17px; */
  /* margin-right: 23px; */
  width: 150px;
  background: #00000066;
  /* border-left: 2px solid #757575; */
  /* border: 2px solid #5c5c5c; */
  text-align: center;
}

#initial-bid {
  margin-bottom: 7px;
}

#auction h4 {
  color: #202020;
  color: #eaeaea;
  font-size: 21px;
  margin: 13px 7px 10px;
  font-weight: 200;
  /* text-shadow: 0 0 15px #eaeaea; */
  /* text-decoration: underline; */
  /* border: 2px solid #6f6f6f; */
  border-bottom: 1px solid #eaeaea;
}

#auction img {
  height: 30px;
  border-radius: 50px;
  /* margin-top: 2px; */
  position: relative;
  top: 10px;
  left: -11px;
  border: 1px solid #fff;
}

#bid-list {
  height: 63.5%;
  overflow: scroll;
}

#bid-list:nth-child(1) {
  margin-top: 10px;
}

#auction span {
  color: #eaeaea;
}

#auction span:nth-child(1) {
  margin-right: 5px;
}

#auction input {
  margin: 0px auto;
  padding: 1px 0;
  /* position: relative;
  bottom: -268px; */
  font-size: 22px;
  width: 48%;
  border: 2px solid #424242;
  background: black;
  color: white;
}

#auction input:focus {
  outline: none;
  border: 1px solid white;
}

#auction button {
  /* position: relative;
  bottom: -268px; */
  /* margin-left: 13px; */
  padding: 3px 7px;
  font-size: 21px;
  width: 47%;
  font-weight: bold;
  background: black;
  color: white;
  border: 1px solid #424242;
}

#auction button:hover {
  cursor: pointer;
  /* background: #333333; */
  color: red;
}

.bidder-initial {
  margin: 0;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1px 10px;
  font-weight: bolder;
  position: relative;
  left: -11px;
  display: inline-block;
  width: 7px;
}

.auction-state {
  text-align: center;
  margin-top: 13px;
  background: #1a1a1a;
  padding: 5px 20px;
  color: #00ff3e;
  font-weight: bold;
  text-shadow: 0px 0px 7px #58ff13;
  width: 250px;
}

/* ANIMATIONS! */
@-webkit-keyframes slideIn {
  from { bottom: -300px; opacity: 0 }
  to { bottom: 0; opacity: 1 }
}

@keyframes slideIn {
  from { bottom: -300px; opacity: 0 }
  to { bottom: 0; opacity: 1 }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@media screen and (max-width: 660px) {
  .modal-content {
    /* height: 305px; */
    height: auto;
    text-align: center;
  }

  #art-image img {
    width: 85%;
  }

  #art-description {
    padding: 0;
    position: relative;
    width: 85%;
    text-align: left;
    background: #1a1a1a;
    margin-left: 32px;
  }

  .auction-state {
    margin: 0;
    padding: 6px 0;
    width: 100%;
    border-bottom: 1px solid #5e5e5e;
  }

  #art-description h2 {
    margin: 0;
    margin-left: 25px;
    display: inline;
    color: white;
  }

  #art-description h4 {
    margin-left: 20px;
    font-size: 37px;
    color: white;
    display: inline-block;
  }

  #auction {
    display: none;
  }
}
